@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Poppins', sans-serif;
  background: #fcfcfc;
}

.container {
  margin-top: 1em;
}

.login-info {
  margin: 0.75em;
  padding: 0.25em 0 0 0.75em;
  border: 1px solid #6c757d;
  width: 30%;
}

ul li {
  list-style-type: none;
  margin-left: -1em;
  padding-top: 0.75em;
}

.login-info p {
  margin-top: 0.5em;
}

.chat-area,
.home {
  margin-top: 1em;
  border: 1px solid #d3d3d3;
}

.chat-area {
  padding: 2em;
  height: 400px;
  overflow-y: scroll;
}

.chat-area .chat-bubble {
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 2em;
  border-radius: 4px;
  max-width: 500px;
  min-width: 300px;
  word-wrap: break-word;
  color: #ffffff;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #ffffff;
  font-weight: bolder;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #ffffff;
}

textarea .form-control {
  width: 60%;
  border: 1px solid #33b5e5;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin: 1em;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}